*.env

# ignore terraform files
*.tfstate
*.terraform
*.terraform.lock.hcl
*.tfstate.backup

# ignore python app files
*.pyc
dist/
package/
*.zip
*.venv
__pycache__/

# ignore airflow files
orchestration/logs/

# Elastic Beanstalk Files
orchestration/.elasticbeanstalk/*
!orchestration/.elasticbeanstalk/*.cfg.yml
!orchestration/.elasticbeanstalk/*.global.yml
